services:
  postgres:
    image: postgres:16
    container_name: pg16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
      - "-c"
      - "max_wal_senders=10"
      - "-c"
      - "max_replication_slots=10"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./primary-init:/docker-entrypoint-initdb.d

  standby:
    image: postgres:16
    container_name: pg_standby
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    depends_on:
      - postgres
    volumes:
      - standby_data:/var/lib/postgresql/data
      - ./standby/init-standby.sh:/init-standby.sh:ro
    entrypoint: ["/bin/bash", "/init-standby.sh"]

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  debezium:
    image: debezium/connect:2.7.3.Final
    container_name: debezium-connect
    depends_on:
      - kafka
      - postgres
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: "kafka:9092"
      GROUP_ID: "debezium-connect"
      CONFIG_STORAGE_TOPIC: "connect_configs"
      OFFSET_STORAGE_TOPIC: "connect_offsets"
      STATUS_STORAGE_TOPIC: "connect_statuses"
      KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
  
  redpanda-console:
    image: redpandadata/console:latest
    container_name: redpanda-console
    depends_on:
      - kafka
      - debezium
    ports:
      - "8080:8080"
    environment:
      KAFKA_BROKERS: "kafka:9092"
      KAFKA_SCHEMAREGISTRY_ENABLED: "false"
      CONNECT_ENABLED: "true"
      CONNECT_CLUSTERS_0_NAME: "debezium"
      CONNECT_CLUSTERS_0_URL: "http://debezium:8083"


volumes:
  pg_data:
  standby_data:
